<a href="https://colab.research.google.com/github/Maellet10/py-set/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Working with Sets in Python:

In [2]:
# Creating an empty Set
my_set = set()
my_set

set()

In [3]:
# Creating a Set with some contents
my_set = {10, 20, 30, 40, 50, 60}
my_set

{10, 20, 30, 40, 50, 60}

In [5]:
# Creating a Set using a list
my_fruits = set(["Apple", "Banana", "Avocado", "Lime", "Pine Apple"])
my_fruits

{'Apple', 'Avocado', 'Banana', 'Lime', 'Pine Apple'}

In [7]:
# # Iterating over a Set
my_fruits = set(["Apple", "Banana", "Avocado", "Lime", "Pine Apple"])

for fruit in my_fruits:
    print(fruit)

Apple
Pine Apple
Banana
Avocado
Lime