<a href="https://colab.research.google.com/github/Maellet10/py-set/blob/main/sets.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Working with Sets in Python:

In [19]:
# Creating an empty Set
my_set = set()
my_set

set()

In [20]:
# Creating a Set with some contents
my_set = {10, 20, 30, 40, 50, 60}
my_set

{10, 20, 30, 40, 50, 60}

In [21]:
# Creating a Set using a list
my_fruits = set(["Apple", "Banana", "Avocado", "Lime", "Pine Apple"])
my_fruits

{'Apple', 'Avocado', 'Banana', 'Lime', 'Pine Apple'}

In [22]:
# # Iterating over a Set
my_fruits = set(["Apple", "Banana", "Avocado", "Lime", "Pine Apple"])

for fruit in my_fruits:
    print(fruit)

Lime
Avocado
Banana
Apple
Pine Apple

In [23]:
### Creating a set by pasing a tuple
grade_scores = set((90, 30, 40, 70, 85, 70, 30,))
print(grade_scores)

# Adding an element into the set
grade_scores.add(100)
print(grade_scores)

# Removing an element into the set
grade_scores.remove(100)
print(grade_scores)

{70, 40, 85, 90, 30}
{100, 70, 40, 85, 90, 30}
{70, 40, 85, 90, 30}

In [24]:
### Creating a set by pasing a tuple
grade_scores = set((90, 30, 40, 70, 85, 70, 30,))
print(grade_scores)

### Adding multiple elements into the set using the update() method
# Using a list to update the set
grade_scores.update([88, 99, 95, 77, 97]) 
grade_scores

# Using a tuple to update the set
grade_scores.update((88, 49, 95, 78, 97,))
grade_scores

{70, 40, 85, 90, 30}

{30, 40, 49, 70, 77, 78, 85, 88, 90, 95, 97, 99}

In [25]:
### Creating a frozenset in python
grade_scores = frozenset((90, 30, 40, 70, 85, 70, 30,))
print(grade_scores)

# Adding an element into a frozenset
#grade_scores.add(100)
print(grade_scores)

# Removing an element into a frozenset
#grade_scores.remove(100)
print(grade_scores)

frozenset({70, 40, 85, 90, 30})
frozenset({70, 40, 85, 90, 30})
frozenset({70, 40, 85, 90, 30})

In [26]:
### Creating a set using the Curly Brases
my_scores = {10}
print(type(my_scores))

<class 'set'>